<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ela - Bootstrap Admin Dashboard Template</title>

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/images/favicon.png}" />

<!--Estilos-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/nestable.css}" rel="stylesheet">
<link th:href="@{/css/custom.css}" rel="stylesheet">
<link th:href="@{/css/summernote-lite.css}" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
<!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

	<!-- Main wrapper  -->
	<th:block th:fragment="content01">
		<div class="container-fluid">
			<!-- header header  -->
			<!-- <th:block th:replace="layout/fragments/header :: header" /> -->
			<!-- End header header -->
			<!-- Left Sidebar  -->
			<th:block th:replace="layout/fragments/naver :: left_sidebar" />
			<!-- End Left Sidebar  -->
			<!-- Page wrapper x  -->
			<div class="page-wrapper">
	</th:block>



	<th:block th:fragment="content02">
		<th:block th:replace="layout/fragments/footer :: footer" />
		</div>
		</div>

		<!-- All Jquery -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->


		<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery.nestable.js}"></script>
		<!-- scripit init-->
		<script th:src="@{/js/nestable.init.js}"></script>
		<script th:src="@{/js/custom.js}"></script>
		<script th:src="@{/js/summernote-lite.js}"></script>
		<script th:src="@{/js/summernote-es-ES.js}"></script>
		
	</th:block>




</body>

</html>